@model string
<div class="form-element-row">
    <label class="mb-0" asp-for="@Model">
    </label>
    <input type="password" asp-for="@Model" class="form-control">
    <span asp-validation-for="@Model"></span>
</div>