.category-content {
    background: url(images/article-pattern.png) repeat, #eeeeee;
}

.top-title {
    padding: 20px 10px !important;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.308);
    padding-bottom: 0px !important;
    border-radius: 0;
    background-color: white;
    h5 {
        display: inline-block;
    }
    span {
        display: inline-block;
        font-size: 12px;
        position: relative;
        color: rgb(0, 170, 91);
        top: 8px;
    }
}
@media (max-width: 576px) {
    .top-title {
        padding-bottom: 20px !important;
    }
    .breadcrumb {
        display: none !important;
    }
}
@media (max-width: 440px) {
    form {
        .select {
            max-width: 100% !important;
            flex: 0 0 100% !important;
            margin-bottom: 8px !important;
            margin-top: 0 !important;
        }
    }
}
@media (max-width: 355px) {
    form {
        .container-fluid {
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}
@media (max-width: 767px) {
    .last-select {
        max-width: 100% !important;
        flex: 0 0 100% !important;
        margin-top: 8px !important;
    }
}
.box {
    background-color: #fff;
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, 0.11);
    border: 1px solid #dedede;
    margin: 0 0 10px;
}
.box-header {
    position: relative;
    color: #535353;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    padding: 8px 16px 10px 15px;
    border-bottom: 1px solid #f2f2f2;
    margin-right: 6px;
    margin-left: 6px;
}
form {
    select {
        border-radius: 0;
        padding: 0 8px;
        font-size: 13px;
        width: 100%;
        height: 40px;
        border-color: #5858582a !important;
        background: white;
        &:focus {
            outline: none !important;
            box-shadow: none !important;
            border-color: #53535355 !important;
        }
    }
    .select {
        position: relative;
        width: auto;
        overflow: hidden;
        &::before {
            content: "\f2f9";
            height: 15px;
            background-color: #fff;
            z-index: 5000;
            width: 25px;
            color: #535353;
            position: absolute;
            top: 9px;
            font: normal normal normal 14px/1 "Material-Design-Iconic-Font" !important;
            left: 16px;
            font-size: 20px !important;
        }
    }
}
.box-content {
    padding: 10px 13px 8px 12px;
    .button-group {
        padding: 10px 0;
        text-align: center;
        display: flex;

        .active {
            color: white !important;
            background-color: #02c533ec;

            cursor: default !important;
            &:hover {
                color: white !important;
                background-color: #02c533ec !important;
            }
        }
        [for="all-course"] {
            border-radius: 0px 3px 3px 0 !important;
        }
        [for="price-course"] {
            border-radius: 3px 0px 0px 3px !important;
        }
        .item {
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-items: center;
            width: 33.33%;
            &:hover {
                span {
                    color: black;

                    background-color: #e7e7e7f5;
                }
            }
            input {
                position: absolute;
                visibility: hidden;
                top: 0;
                left: 0;
            }
            span {
                font-size: 13px;
                padding: 8px 10px;
                transition: all ease 0.3s;

                color: #535353;
                width: 100% !important;
                height: 100% !important;
                border: 1px solid rgba(128, 128, 128, 0.15);

                display: block;
                cursor: pointer;
            }
        }
    }
    .quick-search {
        position: relative;
        i {
            position: absolute;
            right: 12px;
            top: 10px;
            font-size: 23px;
            color: rgb(98, 98, 98);
        }
        input {
            padding-top: 7px;
            padding-bottom: 8px;
            padding-right: 38px !important;
            outline: none;
            font-family: iranyekan;
            font-size: 11px;
            font-size: 0.786rem;
            line-height: 2;
            color: #555;
            width: 100%;
            background: #f8f8f8;
            border: 1px solid transparent;
            transition: 0.15s ease-in;
            letter-spacing: 0;
            padding: 7px 28px 8px 2px;
            &:focus {
                border: 1px solid #048b53;
            }
        }
    }
    .main {
        right: 0px !important;

        span {
            font-size: 14px !important;
            color: rgba(0, 0, 0, 0.876) !important;
        }
    }
    .checkbox {
        position: relative;
        right: 20px;
        .selected {
            &::before {
                background-color: #23c884;
                border: 1px solid rgb(190, 190, 190);
            }
            &::after {
                opacity: 1;
            }
            &:hover {
                &::before {
                    background-color: #23c884;
                    border: 1px solid rgb(190, 190, 190);
                }
            }
        }
        input {
            position: absolute;
            top: 0;
            right: 0;
            visibility: hidden;
        }
        span {
            position: relative;
            padding-right: 30px;
            color: #555;
            transition: all ease 0.3s;
            font-size: 13px;
            right: 8px;
            cursor: pointer;
            &:hover {
                color: rgba(7, 172, 136, 0.979) !important;

                &::before {
                    background-color: #23c8838c;
                    border: 1px solid rgb(190, 190, 190);
                }
            }
            &::before {
                content: "";
                border: 1px solid rgba(128, 128, 128, 0.767);
                position: absolute;
                transition: all ease 0.3s;
                right: 0;
                padding-left: 10px;
                background-color: #fff;
                width: 20px;
                top: 0px;
                height: 20px;
            }
            &::after {
                position: absolute;
                transition: all ease 0.3s;
                top: 3px;
                color: white;
                width: 5px;
                height: 10px;
                right: 5px;
                content: "\f26b";
                font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
                opacity: 0;
            }
        }
    }
}
.scroller {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

    /* width */
}
.breadcrumb {
    background-color: white;
    border-radius: 0;
    padding: 8px !important ;
    p {
        margin-bottom: 0 !important;
    }
    ul {
        margin-bottom: 0;
        li {
            display: inline-block;
            a {
                font-size: 13px;
                color: rgb(21, 59, 41);
                text-decoration: none;
                transition: all ease 0.3s;
                &:hover {
                    color: #048b53;
                }
            }
            .current {
                color: rgb(1, 151, 114) !important;
            }
            i {
                font-size: 10px !important;
            }
        }
    }
}
.paginat {
    margin: 30px 0;
    text-align: center;

    .current-page {
        border: 2px solid #048b53;
        color: #1da36b !important;
        cursor: default;
    }
    a {
        display: inline-block;
        text-decoration: none;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 2px solid #d8e0e6;
        line-height: 38px;
        font-size: 15px;
        text-align: center;
        line-height: 27px;
        font-size: 16px;
        margin: 2px;
        background-color: #fff;
        color: #2d3339;
        transition: all ease 0.3s;
        &:hover {
            border-color: #1da36b;
        }
    }
    .first {
        border-color: #085f5b;
    }
    .last {
        border-color: #085f5b;
    }
}
