.top-baner {
    width: 96%;
    height: 100px;
    display: block;
    margin: auto !important;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.534);
}
html {
    scroll-behavior: smooth;
}
.main-content {
    background: url('../images/article-pattern.png') repeat, #f8f9fa;
}
.custom-shadow {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.432);
}
.breadcrumb {
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    padding: 8px !important ;
    padding-bottom: 10px !important;
    border-bottom: 2px solid #05bd70;
    box-shadow: 0 2px 5px 0 rgba(128, 128, 128, 0.651);
    h1 {
        padding-right: 8px;
        margin-top: 10px;
        font-size: 20px;
    }
    p {
        margin-bottom: 0 !important;
    }
    ul {
        margin-bottom: 0;
        li {
            display: inline-block;
            a {
                font-size: 13px;
                color: rgb(21, 59, 41);
                text-decoration: none;
                transition: all ease 0.3s;
                &:hover {
                    color: #048b53;
                }
            }
            .current {
                color: rgb(1, 151, 114) !important;
            }
            i {
                font-size: 10px !important;
            }
        }
    }
    .left-side {
        position: relative;
    }
    .course-shortlink {
        position: relative;
        border: 1px solid rgba(128, 128, 128, 0.253);
        margin-top: 8px;
        .title {
            position: relative;
            right: 0;
            top: 1px;
            padding: 0 10px;
            line-height: 50px;
            font-size: 14px;
            color: #686e71;
            border-left: 1px solid #cfd0d1;
        }
        .link {
            position: absolute;
            left: 14%;
            top: 1px;
            padding: 0 20px;
            line-height: 50px;
            font-size: 14px;
            color: #686e71;
        }

        .copy-btn {
            width: 60px;
            position: absolute;
            left: 0;
            top: 0;
            line-height: 50px;
            height: 55px;
            text-align: center;
            font-size: 19px;
            border-right: 1px solid #edf1f4;
            color: #686e71;
            i {
                position: relative;
                top: 30%;
            }
        }
    }
}
.btn {
    border-radius: 0 !important;
    font-size: 13px !important;
}
.course-info {
    text-align: justify;
    position: relative;
    background: url('../images/BG.png'), linear-gradient(rgba(15, 188, 219, 0.432) 30%, rgba(4, 160, 108, 0.699) 70%);

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.425);

    i {
        width: 25px;
        text-align: center;
        font-size: 18px;
        color: rgba(31, 31, 31, 0.651);
    }
    font-size: 13px !important;
    .pull-left {
        color: rgb(56, 56, 56);
        label {
            font-size: 12px;
        }
    }
    span {
        width: 15px !important;
    }
    .status {
        span {
            text-align: center !important;

            background-color: #05bd70;
            padding: 2px 10px;
            color: rgb(255, 255, 255) !important;
        }
    }
    .countEpisode {
        span {
            text-align: center !important;
            background-color: #0598bd;
            padding: 2px 10px;
            color: rgb(255, 255, 255) !important;
        }
    }

    .level {
        span {
            text-align: center !important;

            background-color: #05bd70;
            padding: 2px 10px;
            color: rgb(255, 255, 255) !important;
        }
    }
    .btn-success {
        transition: all ease 0.4s;
        box-shadow: 0 0 5px 0 rgb(0, 225, 255);
        &:hover {
            background-color: rgb(182, 245, 224);
            color: #048b53;
        }
    }
}
@media (max-width: 500px) {
    .course-info {
        .btn-success {
            position: fixed;
            bottom: 1px;
            z-index: 1030;
            right: 0;
        }
    }
}
.teacher {
    .title {
        background-color: rgba(51, 51, 51, 0.082);
        padding: 8px;
        h5 {
            font-size: 17px !important;
        }
        border-bottom: 2px solid #048b53;
    }
    .middel {
        a {
            padding-bottom: 5px;
            text-decoration: none;
            color: rgb(3, 107, 110);
            transition: all ease 0.4s;
            &:hover {
                color: #05bd70;
            }
        }
    }
    .about-teacher {
        text-align: justify;
        font-size: 13px;
        padding: 0px 8px;
        height: 150px;
        overflow: hidden;
        line-height: 25px;
        position: relative;
        .filter {
            z-index: 2;
            width: 110%;
            position: absolute;
            bottom: 0;
            left: 0px;
            background: linear-gradient(rgba(172, 172, 172, 0.048), rgb(216, 214, 214));
            height: 30px;
        }
    }
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid #026e33;
    }
}
.newsLetters {
    .title {
        background-color: rgba(51, 51, 51, 0.082);
        padding: 8px;
        h5 {
            font-size: 17px !important;
        }
        border-bottom: 2px solid #048b53;
    }
    button {
        border-radius: 0 !important;
    }
}
.comments {
    font-size: 13px !important;
    .comment-title {
        h6 {
            display: inline-block;
            font-size: 18px !important;
        }
        i {
            font-size: 20px;
            padding-left: 10px;
        }
        margin-bottom: 3%;
    }
    .btn-success {
        border-radius: 0;
        margin-top: 10px;
        font-size: 13px !important;
    }
    p {
        margin-bottom: 8px;
    }
    .comment-item {
        border: 1px solid rgba(128, 128, 128, 0.247);
        padding: 10px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid rgb(188, 235, 224);
            display: inline-block;
        }
        .title {
            display: inline-block;
            padding: 5px;

            border-bottom: 1px solid rgba(128, 128, 128, 0.295);

            span {
                color: #00110aab;
                margin-right: 10px;
                i {
                    color: #0598bd;
                }
            }
        }
        .text {
            text-align: justify;
            margin-top: 7px;
        }
        .answer {
            width: 90%;
            margin-right: 10%;
            padding: 10px 20px;
            position: relative;
            border-right: 1px solid rgba(39, 39, 39, 0.26);
            border-bottom: 1px solid rgba(39, 39, 39, 0.26);

            &:last-child {
                border-bottom: none !important;
            }
            .answer-title {
                top: 2px;
                left: 2px;
                position: absolute;
                background-color: #00a58991;
                border-radius: 5px;
                color: white;
                padding: 4px 10px;
            }
        }
    }
}
.course-body {
    border-radius: 0 !important;
    color: rgba(51, 51, 51, 0.911) !important;
    .alert-info {
        font-size: 13px;
        border-radius: 0;
    }

    .tabs {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.123);
        background: white;
        .tab-titles {
            padding: 12px 10px;
            padding-right: 0;
            background-color: #686e7117;

            a {
                color: #333;
                display: inline;
                position: relative;
                border-left: 1px solid rgba(128, 128, 128, 0.24);
                padding: 10px 15px;
                text-decoration: none;
                transition: all ease 0.3s;
                &:hover {
                    color: #05bd70;
                    background-color: rgba(128, 128, 128, 0.096);
                }
                border-bottom: 1px solid rgba(128, 128, 128, 0.24) !important;
                background-color: transparent;
                &:last-child {
                    border-left: none !important;
                }
            }
            .selected {
                background-color: white;

                color: #05bd76;
                position: relative;
                padding: 10px 30px !important;
                border-right: 5px solid rgba(0, 82, 78, 0.795);
                i {
                    color: rgb(1, 70, 82);
                }
                border-bottom: 1px solid transparent !important;
            }
        }
    }
    #instructions {
        position: relative;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.342);

        .video-cover {
            position: absolute;
            top: 10px;
            right: 5px;
            color: rgb(8, 252, 150);
            z-index: 100000;
            background-color: rgba(245, 245, 245, 0.199);
            padding: 1px 10px;
            border-radius: 10px;
            border: 2px solid rgb(18, 236, 182);
            margin-bottom: 0;
            text-align: center;
            font-size: 13px;
        }
    }
    .description {
        text-align: justify;
        font-size: 14px;
        line-height: 30px;
    }

    .episodes {
        .disabled {
            position: relative !important;
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 2;
                height: 100%;
                content: "";
                border-bottom: 1px solid rgba(0, 0, 0, 0.192) !important;
            }
            &:hover {
                border-right: 5px solid rgb(233, 47, 47) !important;
                background-color: white;
            }
            .notFree {
                background-color: rgba(228, 0, 0, 0.788) !important;

                z-index: 3;
            }
            .counter {
                background-color: rgba(228, 0, 0, 0.788) !important;
            }
            .title {
                color: #333 !important;
            }
            .tools {
                a {
                    background-color: rgba(238, 179, 179, 0.642) !important;
                }
            }
        }
        .episode-item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 15px 0px !important;
            border-right: 5px solid rgb(128, 128, 128);
            transition: all ease 0.4s;
            position: relative;

            &:hover {
                border-right: 5px solid rgba(0, 88, 19, 0.801);
                background-color: rgba(128, 128, 128, 0.089);
                .right {
                    .title {
                        color: #048b53;
                    }
                    .free {
                        color: rgb(20, 20, 20) !important;
                    }
                }
            }
            .right {
                display: flex;
                .counter {
                    width: 40px;
                    height: 40px;
                    padding-top: 4px;
                    text-align: center;
                    margin-left: 5px;
                    color: white;
                    border: 3px solid rgb(211, 211, 211);
                    background-color: #048b53;
                    border-radius: 50%;
                }
                .title {
                    border-right: 1px solid rgba(128, 128, 128, 0.247);
                    padding-right: 8px;
                    display: flex;
                    height: 45px;
                    align-items: center;
                    justify-content: center;
                    transition: all ease 0.4s;
                    overflow: hidden;
                }
            }
            .free {
                position: absolute;
                transition: all ease 0.4s;
                top: 0;
                font-size: 11px;
                background-color: #05bd70;
                color: white;
                padding: 2px 2px;
                box-shadow: 0 0 5px 0 #05bd70;
                left: 0;
            }
            .notFree {
                position: absolute;
                transition: all ease 0.4s;
                top: 0;
                font-size: 11px;
                background-color: #df4923;
                color: white;
                padding: 2px 5px;
                box-shadow: 0 0 5px 0 #bd0524;
                left: 0;
            }
            .left {
                display: flex;
                .time {
                    font-size: 13px;
                    padding-left: 5%;
                    width: 100px;
                    color: #0598bd;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    height: 45px;
                }
                .tools {
                    display: flex;
                    a {
                        align-items: center;
                        border: 4px solid #ebebeb;
                        padding-top: 3px;
                        font-size: 1.1em;
                        justify-content: center;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        background-color: #048b41;
                        margin-left: 5px;
                        text-decoration: none;
                        i {
                            font-size: 20px;
                            color: white;
                        }
                        .fa-play {
                            font-size: 15px;
                            padding-left: 3px;
                            padding-bottom: 2px;
                        }
                    }
                }
            }
        }
    }
}
.tab-content {
    border-radius: 0;
}
@media (max-width: 420px) {
    .comment-item {
        img {
            display: none !important;
        }
    }
    .course-body .tabs .tab-titles .selected {
        padding: 10px 15px !important;
    }
    .counter {
        display: none !important;
    }
    .left {
        margin-top: 4% !important;
    }
    .course-shortlink {
        display: none !important;
    }
}
