@page
@model DigiLearn.Web.Pages.Profile.EditModel
@{
    ViewData["title"] = " ویرایش حساب کاربری";
    Layout = "Shared/_ProfileLayout";
}
<div class="row ">
    <div class="col-12 info shadow pl-0 pr-0">
        <p class="title">
            <i class="fa fa-address-card-o"></i>
            @ViewData["title"]
        </p>
        <div class="info-body p-2">
            <form method="post" class="row">
                <div class="col-12 col-lg-6 col-md-6 mb-3">
                    @Html.EditorFor(f=>f.Name)
                </div>
                <div class="col-12 col-lg-6 col-md-6 mb-3">
                    @Html.EditorFor(f=>f.Family)

                </div>
                <div class="col-12">
                    @Html.EditorFor(f=>f.Email)
                </div>

                <div class="col-12">
                    <button class="btn  btn-save  mt-3">ویرایش اطلاعات</button>

                </div>
            </form>
        </div>
    </div>
</div>

