<div class="mobile-menu p-2">
    <i class="zmdi zmdi-close text-danger"></i>
    <img src="images/favicon.ico" alt="">
    <div class="search mb-4">
        <i class="fa fa-search"></i>
        <input type="text" class="input-search" placeholder="جستوجو">
    </div>
    <p class="category-title ">دسته بندی آموزش ها</p>
    <ul class="main-menu mb-5">
        <li>
            <a href="#" class="main-group">
                <span class="fa fa-chevron-left"></span>
                برنامه نویسی وب
            </a>
            <i class="zmdi zmdi-plus" data-item="1"></i>

            <ul class="sub-menu" data-item="1">
                <li>
                    <a href="#" class="sub-group">
                        <span class="fa fa-chevron-left"></span>

                        Asp.net-Core
                    </a>
                </li>
                <li>
                    <a href="#" class="sub-group">
                        <span class="fa fa-chevron-left"></span>

                        PHP
                    </a>
                </li>
                <li>
                    <a href="#" class="sub-group">
                        <span class="fa fa-chevron-left"></span>

                        Asp.net-MVC
                    </a>
                </li>
                <li>
                    <a href="#" class="sub-group">
                        <span class="fa fa-chevron-left"></span>

                        NodeJs
                    </a>
                </li>
                <li>
                    <a href="#" class="sub-group">
                        <span class="fa fa-chevron-left"></span>

                        Java
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="main-group">
                <span class="fa fa-chevron-left"></span>
                طراحی وب
            </a>
            <i class="zmdi zmdi-plus" data-item="2"></i>

            <ul class="sub-menu" data-item="2">
                <li>
                    <a href="#" class="sub-group">
                        <span class="fa fa-chevron-left"></span>
                        Asp.net-Core
                    </a>
                    <i class="zmdi zmdi-plus" data-sub="1"></i>

                    <ul class="sub-parent" data-sub="1">
                        <li>
                            <a href="#">
                                <span class="fa fa-chevron-left"></span>

                                ای اس پی
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-chevron-left"></span>

                                SignalR
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="sub-group">
                        <span class="fa fa-chevron-left"></span>

                        PHP
                    </a>
                </li>
                <li>
                    <a href="#" class="sub-group">
                        <span class="fa fa-chevron-left"></span>

                        Asp.net-MVC
                    </a>
                </li>
                <li>
                    <a href="#" class="sub-group">
                        <span class="fa fa-chevron-left"></span>

                        NodeJs
                    </a>
                </li>
                <li>
                    <a href="#" class="sub-group">
                        <span class="fa fa-chevron-left"></span>

                        Java
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="main-group">
                <span class="fa fa-chevron-left"></span>
                برنامه نویسی وب

            </a>

        </li>
    </ul>
    <p class="category-title ">منوی درسترسی</p>

    <ul class="access-menu">
        <li>
            <a href="#" class="main-group">
                <span class="fa fa-chevron-left"></span>
                خانه
            </a>
        </li>
        <li>
            <a href="/profile/registerTeacher" class="main-group">
                <span class="fa fa-chevron-left"></span>
                همکاری با ما
            </a>
        </li>
        <li>
            <a href="#" class="main-group">
                <span class="fa fa-chevron-left"></span>
                تماس با ما
            </a>
        </li>
        <li>
            <a href="#" class="main-group">
                <span class="fa fa-chevron-left"></span>
                پشتیبانی آنلاین
            </a>
        </li>
        <li>
            <a href="#" class="main-group">
                <span class="fa fa-chevron-left"></span>
                پادکست
            </a>
        </li>
        <li>
            <a href="#" class="main-group">
                <span class="fa fa-chevron-left"></span>
                مقالات
            </a>
        </li>
    </ul>
</div>
