<footer class="">
    <h5 class="pr-3">لینک های مفید</h5>
    <div class="container-fluid pb-3">

        <div class="row ">

            <div class="col-12 col-xl-6 col-lg-6 col-md-6">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-chevron-left"></i>
                            تماس با ما
                        </a>
                    </li>
                    <li>
                        <a href="/profile/registerTeacher">
                            <i class="fa fa-chevron-left"></i>
                            همکاری با ما
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-chevron-left"></i>
                            پشیبانی آنلاین
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-chevron-left"></i>
                            آخرین دوره ها
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-chevron-left"></i>
                            پادکست ها
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-chevron-left"></i>
                            مقالات سایت
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-chevron-left"></i>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-chevron-left"></i>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 text-center">
                <a href="#">
                    <img src="images/star2.png" alt="">

                </a>
                <a href="#">
                    <img src="images/logo-samandehi.png" alt="">

                </a>
            </div>
        </div>
    </div>
    <div class=" last-footer ">
        <p class="text-center">تمامی حقوق مادی و معنوی این وبسایت متعلق به محمد اشرفی می باشد</p>
    </div>

</footer>