@using CoreModule.Facade.Category
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/profile.min.css">
    @await RenderSectionAsync("meta", false)
</head>
@inject ICourseCategoryFacade _CategoryFacade
@{
    var categories = await _CategoryFacade.GetMainCategories();
}
<body>
    <div class="overlay"></div>
    <partial name="Header/_MobileMenu" />
    <header>
        <partial name="Header/_TopNav" />
        <partial name="Header/_MainMenu" model="categories" />
    </header>
    <main class="mb-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 breadcrumb">
                    @{
                        var isIndexPage = Context.Request.Path == "/profile";
                    }
                    <ul class="">
                        <li>
                            <a href="/">
                                خانه
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/profile" class="@(isIndexPage ?"current":null)">
                                پنل کاربری
                                @if (isIndexPage == false)
                                {
                                    <i class="fa fa-chevron-left"></i>
                                }
                            </a>
                        </li>

                        @if (isIndexPage == false)
                        {
                            <li>
                                <a class="current">
                                    @ViewData["title"]
                                </a>
                            </li>
                        }
                    </ul>

                </div>
                <partial name="Shared/_ProfileSideBar" />
                <div class="col-12 col-xl-9 col-lg-9 col-md-8 profile-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    <partial name="_Footer" />
    <div id="token-value">
        @Html.AntiForgeryToken()
    </div>
    <script src="/js/jquery.3.2.1.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/Bootstrap/bootstrap.min.js"></script>
    <script src="/js/Bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/particles.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/global/global.js"></script>
    <script src="/js/Profile.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="/global/clientValidation.js"></script>
    @await RenderSectionAsync("Scripts", false)

</body>

</html>