@page "{courseId}"
@model DigiLearn.Web.Pages.Profile.Teacher.Courses.Sections.IndexModel
@{
    ViewData["Title"] = "مدیریت فصل های دوره" + $"`{Model.Course.Title}`";
    Layout = "Shared/_ProfileLayout";
}
<div class="row ">
    <a asp-page="Add" asp-route-courseId="@Model.Course.Id" class="btn btn-save mr-2 mb-4 float-right">افزودن فصل جدید</a>

    <div class="col-12 info shadow pl-0 pr-0">
        <p class="title">
            <i class="fa fa-paper-plane"></i>
            @ViewData["Title"]
        </p>
        <br>
        <div class="info-body p-2">
            <div id="accordion">
                @foreach (var item in Model.Course.Sections.OrderBy(d => d.DisplayOrder))
                {
                    <div class="card">
                        <div class="card-header" id="h_@item.Id">
                            <h5 class="mb-0" >
                                <button class="btn btn-link " data-toggle="collapse" data-target="#a_@item.Id" aria-expanded="true" aria-controls="a_@item.Id">
                                    @item.Title
                                </button>
                            </h5>
                        </div>

                        <div id="a_@item.Id" class="collapse " aria-labelledby="h_@item.Id" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
