@model bool
@{
    var id = Guid.NewGuid();
}
<div class="custom-control custom-switch custom-switch-success mr-2 mb-1">
    <label  asp-for="@Model" class="mb-0 d-block"></label>
    <input type="checkbox" class="custom-control-input" asp-for="@Model">
</div>