@model DigiLearn.Web.Infrastructure.ViewModels.SeoDataViewModel

<div class="col-md-6">
    @Html.EditorFor(m=>m.MetaTitle)
</div>
<div class="col-md-6">
    @Html.EditorFor(m=>m.MetaKeyWords)
</div>
<div class="col-md-6">
    @Html.EditorFor(m=>m.Canonical)
</div>
<div class="col-md-6">
    @Html.EditorFor(m=>m.MetaDescription)
</div>