@model string
<div class="form-input">
    <label asp-for="@Model"></label>
    <input type="url" class="form-control" asp-for="@Model">
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>