@font-face {
	font-family: "primary-font";
	src: url("../../fonts/farsi-fonts/myriad-400.eot");
	src: url("../../fonts/farsi-fonts/myriad-400.eot?#iefix") format("embedded-opentype"),
		 url("../../fonts/farsi-fonts/myriad-400.woff2") format("woff2"),
		 url("../../fonts/farsi-fonts/myriad-400.woff") format("woff"),
		 url("../../fonts/farsi-fonts/myriad-400.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "primary-font";
	src: url("../../fonts/farsi-fonts/myriad-700.eot");
	src: url("../../fonts/farsi-fonts/myriad-700.eot?#iefix") format("embedded-opentype"),
		 url("../../fonts/farsi-fonts/myriad-700.woff2") format("woff2"),
		 url("../../fonts/farsi-fonts/myriad-700.woff") format("woff"),
		 url("../../fonts/farsi-fonts/myriad-700.ttf") format("truetype");
	font-weight: 700;
}